<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <solutioo_chatgpt>
            <general>
                <enabled>0</enabled>
            </general>
            <seller>
                <name></name>
                <url></url>
                <target_country>DE</target_country>
                <store_country>DE</store_country>
                <privacy_url></privacy_url>
                <tos_url></tos_url>
                <return_url></return_url>
                <shipping_url></shipping_url>
                <faq_url></faq_url>
                <accepts_returns>1</accepts_returns>
                <return_deadline_days>14</return_deadline_days>
                <accepts_exchanges>0</accepts_exchanges>
            </seller>
            <feed>
                <format>jsonl</format>
                <gzip>1</gzip>
                <include_out_of_stock>0</include_out_of_stock>
                <include_disabled>0</include_disabled>
                <only_eligible_search>0</only_eligible_search>
                <variant_mode>all</variant_mode>
                <exclude_incomplete>1</exclude_incomplete>
                <media_cdn_url></media_cdn_url>
                <visibility>2,3,4</visibility>
                <include_categories></include_categories>
                <exclude_categories></exclude_categories>
                <sample_limit>0</sample_limit>
                <default_search_eligible>1</default_search_eligible>
                <default_checkout_eligible>0</default_checkout_eligible>
                <include_promotions>1</include_promotions>
                <utm_source>chatgpt</utm_source>
                <utm_medium>feed</utm_medium>
                <utm_campaign>product_search</utm_campaign>
            </feed>
            <mapping>
                <brand_attribute>manufacturer</brand_attribute>
                <gtin_attribute>chatgpt_gtin</gtin_attribute>
                <mpn_attribute>chatgpt_mpn</mpn_attribute>
                <condition_attribute></condition_attribute>
                <default_condition>new</default_condition>
                <google_category_attribute></google_category_attribute>
                <color_attribute>color</color_attribute>
                <size_attribute>size</size_attribute>
                <material_attribute>material</material_attribute>
                <gender_attribute></gender_attribute>
                <age_group_attribute></age_group_attribute>
                <include_reviews>1</include_reviews>
            </mapping>
            <delivery>
                <https_enabled>1</https_enabled>
                <feed_token></feed_token>
                <generate_on_request>0</generate_on_request>
            </delivery>
            <sftp>
                <enabled>0</enabled>
                <host></host>
                <port>22</port>
                <username></username>
                <password></password>
                <private_key></private_key>
                <remote_path>/</remote_path>
                <filename>products.jsonl.gz</filename>
            </sftp>
            <api>
                <enabled>0</enabled>
                <mode>ads</mode>
                <base_url>https://api.ads.openai.com/v1</base_url>
                <api_key></api_key>
                <version>2025-09-12</version>
                <feed_id></feed_id>
                <account_id></account_id>
                <merchant_id></merchant_id>
                <batch_size>100</batch_size>
            </api>
            <schedule>
                <enabled>1</enabled>
                <cron_expr>*/15 * * * *</cron_expr>
                <auto_sftp>1</auto_sftp>
                <auto_api>0</auto_api>
            </schedule>
            <tracking>
                <enabled>0</enabled>
                <pixel_id></pixel_id>
                <debug>0</debug>
                <respect_cookiebot>1</respect_cookiebot>
                <cookiebot_category>marketing</cookiebot_category>
                <track_page_view>1</track_page_view>
                <track_product_view>1</track_product_view>
                <track_add_to_cart>1</track_add_to_cart>
                <track_checkout>1</track_checkout>
                <track_purchase>1</track_purchase>
            </tracking>
        </solutioo_chatgpt>
    </default>
</config>
